### Machine learning utilizando ExtraTreesClassifier para aprender a classificar vinhos em tinto e branco. 
![](https://media2.giphy.com/media/GyJ8p0Um850ic/giphy.gif?cid=790b7611a480644e376c7c508312865bd38ce1ab4c2f74e5&rid=giphy.gif)

In [0]:
import pandas as pd
arquivo = pd.read_csv('https://raw.githubusercontent.com/mariacmartins/wine_machinelearning/master/wine_dataset.csv')

In [2]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

Substituindo **red** por **0** e **white** por **1**

In [0]:
arquivo['style'] = arquivo['style'].replace('red', 0)

In [0]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [5]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0
3           11.2              0.28         0.56  ...      9.8        6      0
4            7.4              0.70         0.00  ...      9.4        5      0

[5 rows x 13 columns]

In [0]:
#Separando variáveis preditoras da variável alvo
y = arquivo['style']
x = arquivo.drop('style', axis= 1)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3, random_state=10)

In [9]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo
modelo = ExtraTreesClassifier(n_estimators=100, random_state=10)
modelo.fit(x_treino, y_treino)

#Imprimindo resultados

resultado = modelo.score(x_teste, y_teste)
print('Acurácia: ', resultado)

Acurácia:  0.9958974358974358

In [10]:
y_teste[400:403]

1492    0
3593    1
6397    1
Name: style, dtype: int64

In [11]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
1492            6.2              0.65         0.06  ...       0.54    11.95        5
3593            7.0              0.28         0.33  ...       0.67     8.80        6
6397            5.9              0.32         0.19  ...       0.43    10.30        5

[3 rows x 12 columns]

In [0]:
previsoes = modelo.predict(x_teste[400:403])

In [13]:
previsoes #algoritmo fez a previsão que os vinhos que estão nesse intervalo do dataset são: red, white, white. O que pode ser comprovado pelo y_teste[400:403]

array([0, 1, 1])